//- sections/contents.pug
section#contents
    div.ui.tab.basic.segment.active(data-tab="dashboard")
        include dashboard

    for page in pages
        div.ui.tab.basic.segment(data-tab=page.id)
            != page.markup
