//- sections/dashboard.pug
mixin chart(title, id)
    div.ui.card.chart-card
        div.content
            div.chart(id="piechart-" + id)
        div.extra.content= title

if readme
    div.dashboard-charts
        div.inner
            for chart in charts
                +chart(chart.title, chart.id)
else
    div.ui.four.cards.centered.dashboard-charts
        for chart in charts
            +chart(chart.title, chart.id)

if readme
    div.ui.segment.readme!= readme
