//- sections/footer.pug
div.ui.mini.bottom.fixed.menu
    div.right.item.generated-by
        span
            | Generated using
        != "&nbsp;"
        a(href="#") Reporter
        != "&nbsp;-&nbsp;"

        - date = Date()
        span.generated-on(data-tooltip=date data-position="top right" data-inverted=true)= date
