//- sections/header.pug
div.ui.top.fixed.pointing.massive.menu.violet.inverted
    div.header.item
        != brand + ":&nbsp;"
        em= project

    div.right.menu
        a.item.active(data-tab="dashboard") Dashboard
        for page in pages
            a.item(data-tab=page.id)= page.title
