//- layout.pug
doctype html
html
    head
        meta(charset="UTF-8")
        title= brand + ": " + project

        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css")
        style(type="text/css")!= css

    body
        include sections/header
        include sections/footer
        include sections/contents

        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js")
        script(type="text/javascript" src="https://www.google.com/jsapi")
        script(type="text/javascript")
            | google.load("visualization", "1", { packages: [ "corechart" ] });
            for chart in charts
                | google.setOnLoadCallback(() => renderChart(!{JSON.stringify(chart)}));
        script(type="text/javascript")!= js
