//- sections/code-coverage.pug
mixin statOfLabel(done, total)
    = done + " of " + total

mixin statItem(label, done, total)
    div.item
        = label
        span.ui.label.left.pointing(class=valuesToColour(done, total, config.failPV, config.passPV))
            +statOfLabel(done, total)

mixin statLabel(label, done, total)
    div.ui.image.label(class=valuesToColour(done, total, config.failPV, config.passPV))
        = label
        span.detail
            +statOfLabel(done, total)

div.ui.column.grid.centered
    div.two.wide.column
        div.ui.vertical.menu
            div.active.blue.header.item
                | Code Coverage
                span.ui.blue.label.left.pointing= report.totals.percentage + "%"

            +statItem("Statements", report.totals.statements.done, report.totals.statements.total)
            +statItem("Branches", report.totals.branches.done, report.totals.branches.total)
            +statItem("Functions", report.totals.functions.done, report.totals.functions.total)
            +statItem("Lines", report.totals.lines.done, report.totals.lines.total)

    div.twelve.wide.column
        div.ui.styled.fluid.accordion
            for file in report.files
                div.title
                    div.ui.mini.labels
                        div.ui.label(class=percentageToColour(file.stats.percentage, config.failPV, config.passPV))= file.stats.percentage + "%"
                        +statLabel("Statements", file.stats.statements.done, file.stats.statements.total)
                        +statLabel("Branches", file.stats.branches.done, file.stats.branches.total)
                        +statLabel("Functions", file.stats.functions.done, file.stats.functions.total)
                        +statLabel("Lines", file.stats.lines.done, file.stats.lines.total)

                    i.dropdown.icon
                    = file.name

                div.content
                    pre.code-coverage.code(class="language-" + file.language)
                        span(aria-hidden="true" class="line-numbers")
                            - let i = 0
                            while i < file.noLines
                                span
                                - i++

                        != file.code


