//- Cucumber/layout.pug
mixin itemLabel(label, value, colour)
    div.item
        = label
        span.ui.label.left.pointing(class=colour)= value

div.ui.column.grid.centered
    div.two.wide.column
        div.ui.vertical.menu
            div.active.blue.header.item
                | Duration
                span.ui.teal.label.left.pointing
                    i.clock.outline.icon
                    = report.duration + "ms"

            div.active.blue.header.item
                | Total tests
                span.ui.blue.label.left.pointing= report.totals.total

            +itemLabel("Passed", report.totals.passed, "green")
            +itemLabel("Failed", report.totals.failed, "red")
            +itemLabel("Skipped", report.totals.skipped, "orange")
            +itemLabel("Pending", report.totals.pending, "grey")
            +itemLabel("Ambiguous", report.totals.ambiguous, "yellow")
            +itemLabel("Undefined", report.totals.notdefined, "black")

    div.twelve.wide.column
        div.ui.styled.fluid.accordion
            for feature in report.features
                div.title
                    div.ui.label(class=feature.stats.passed === feature.stats.total ? "green" : (feature.stats.passed === 0 ? "red" : "orange"))= feature.stats.passed + " out of " +  feature.stats.total
                    i.dropdown.icon
                    = feature.name

                div.content
                    div There are a total of #{feature.scenarios.length} scenarios and #{feature.stats.total} tests (#{feature.stats.passed} passed) in this feature.
                    div.accordion
                        for scenario in feature.scenarios
                            div.title
                                div.ui.label(class=scenario.stats.passed === scenario.stats.total ? "green" : (scenario.stats.passed === 0 ? "red" : "orange"))= scenario.stats.passed + " out of " +  scenario.stats.total
                                i.dropdown.icon
                                = scenario.name

                            div.content
                                div.ui.middle.aligned.divided.list
                                    for step in scenario.steps
                                        div.item
                                            div.right.floated
                                                div.ui.label(class=step.status === "passed" ? "green" : (step.status === "failed" ? "red" : "orange"))= step.status

                                            div.ui.teal.label
                                                i.clock.outline.icon
                                                = step.duration + "ms"
                                            div.ui.blue.label= step.keyword
                                            span.content= step.name
