//- TypeDoc/class.pug
mixin property()
    //

mixin class(item)
    div.title
        div.ui.image.label
            i(class="typedoc-icon typedoc-type-" + item.type.id)
            = item.type.label
        i.dropdown.icon
        = item.name

    div.content
        | BITS
