//- TypeDoc/layout.pug
include class

mixin item(item)
    for group, index in item.groups
        +group(group)

mixin group(group)
    div.accordion
        if group.type.id === 128
            +class(group)
        else
            div.ui.segments
                div.ui.segment
                    i.typedoc-icon(class="typedoc-type-" + group.type.id)
                    = group.label

                div.ui.secondary.segment

                    div.ui.middle.aligned.divided.list
                        for subitem in group.items
                            div.item
                                div.ui.blue.label= subitem.type.label
                                span.content= subitem.name

div.ui.column.grid.centered
    div.two.wide.column
        div.ui.vertical.menu
            div.active.blue.header.item
                | Total tags
                span.ui.label.left.pointing= report.totals.total

    div.twelve.wide.column
        for group, index in report.groups
            div.ui.segments
                div.ui.segment
                    i.typedoc-icon(class="typedoc-type-" + group.type.id)
                    = group.label

                div.ui.secondary.segment
                    div.ui.styled.fluid.accordion
                        for item in group.items
                            div.title
                                div.ui.image.label
                                    i(class="typedoc-icon typedoc-type-" + item.type.id)
                                    = item.type.label
                                i.dropdown.icon
                                = item.name

                            div.content
                                +item(item)
