//- TSLint/layout.pug
div.ui.column.grid.centered
    div.two.wide.column
        div.ui.vertical.menu
            div.active.blue.header.item
                | Total failures
                span.ui.label.left.pointing(class=maxToColour(report.totals.total, config.redMax, config.orangeMax))= report.totals.total

            for total, name in report.totals
                if name !== "total"
                    div.item
                        = name[0].toUpperCase() + name.substr(1)
                        span.ui.label.left.pointing(class=maxToColour(report.totals[name], config.redMax, config.orangeMax))= report.totals[name]

    div.twelve.wide.column
        if report.files.length
            div.ui.styled.fluid.accordion
                for file in report.files
                    div.title
                        div.ui.label(class=maxToColour(file.items.length, 20, 0))= file.items.length
                        i.dropdown.icon
                        = file.filename

                    div.content
                        div.ui.divided.list
                            for item in file.items
                                div.item
                                    div.right.floated
                                        div.ui.teal.label Line ##{item.line.line}:#{item.line.character}

                                    div.ui.label(class=item.severity === "error" ? "red" : "orange")= item.severity
                                    div.ui.black.label= item.rule
                                    span.content= item.message
        else
            div.ui.segment
                | Wahoo, you do not have TSLint issues =)
