//- UnitTest/layout.pug
mixin itemLabel(label, value, colour)
    div.item
        = label
        span.ui.label.left.pointing(class=colour)= value

mixin testsBlock(tests)
    if tests.length > 0
        div.ui.middle.aligned.divided.list
            for test in tests
                div.item
                    div.right.floated
                        div.ui.label(class=test.status === "passed" ? "green" : (test.status === "failed" ? "red" : "orange"))= test.status

                    div.ui.teal.label
                        i.clock.outline.icon
                        = test.duration + "ms"
                    span.content= test.name

mixin suiteBlock(suite)
    div.title
        div.ui.label(class=suite.stats.passed === suite.stats.total ? "green" : (suite.stats.passed === 0 ? "red" : "orange"))= suite.stats.passed + " out of " +  suite.stats.total
        i.dropdown.icon
        = suite.name

    div.content
        +testsBlock(suite.tests)

        if suite.suites.length > 0
            div.accordion
                for subsuite in suite.suites
                    +suiteBlock(subsuite)

div.ui.column.grid.centered
    div.two.wide.column
        div.ui.vertical.menu
            div.active.blue.header.item
                | Duration
                span.ui.teal.label.left.pointing
                    i.clock.outline.icon
                    = report.duration + "ms"

            div.active.blue.header.item
                | Total tests
                span.ui.blue.label.left.pointing= report.totals.total

            +itemLabel("Passed", report.totals.passed, "green")
            +itemLabel("Failed", report.totals.failed, "red")
            +itemLabel("Skipped", report.totals.skipped, "orange")
            +itemLabel("Pending", report.totals.pending, "grey")

    div.twelve.wide.column
        div.ui.styled.fluid.accordion
            for suite in report.suites
                +suiteBlock(suite)
